@import url("/src/variables.css");


nav{
  background-color: white;
  box-shadow: 1px 1px 6px black;
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav li{
  height: 80px;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  text-transform: uppercase;
}

.logo{
  width: 80px;
  display: block;
}

.fa-bag-shopping{
  padding: 0.3rem;
}

nav a:hover{
  background-color: #f0f0f0;
}

nav li:first-child{
  margin-right: auto;
}

/** Sidebar navigation **/
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #FFFFFF;
  backdrop-filter: blur(10px);
  box-shadow: -8px 0 20px var(--color-shadow);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}

.menuIcon{
  display: none;
}

@media(max-width: 800px){
  .navlinks-mobile{
    display: none;
  }

  .menuIcon{
    display: block;
  }
}

@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}

/*** Hero image ***/
.hero{
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: 0, 0, 0, 0.5;
  padding: 20px;
  border-radius: 10px;
}

.hero-text h1{
  font-size: 2.5em;
  margin: 0;
}

.hero-text p{
  font-size: 1.2em;
  margin: 10px 0 0 0;
}


/*** Products index page ***/
.content{
  padding: 20px;
}

.content h1{
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.product-list {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center; 
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%; 
  max-width: 250px; 
  text-align: center;
  box-sizing: border-box; 
  cursor: pointer;
}

.product img {
  width: 100%; 
  height: 200px;
  max-height: 300px;
  object-fit: contain; 
}

.product h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.product p {
  font-size: 0.9em;
}

.price {
  font-weight: bold;
  color: #333;
}

.discounted-price {
  color: red;
  font-weight: bold;
}

/*** Filter Index ***/
.filter{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.filter label{
  font-size: 1em;
  color: #333;
  font-weight: 600;
  margin-right: 5px;
}

/* Filter dropdown */ 
.filter select{
  padding: 5px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffff;
  color: #333;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.filter select:focus, .filter select:hover{
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0 123, 255, 0.3);
}

/* Sale filter */
.sale-filter{
  display: flex;
  align-items: center;
  gap: 10px;
}

.sale-filter label{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1em;
  cursor: pointer;
}

.sale-filter input[type="radio"] {
  accent-color: #007bff; 
  cursor: pointer;
}

@media (max-width: 600px) {
  .filter {
      flex-direction: column;
      gap: 10px;
      align-items: stretch;
  }

  .filter label {
      margin-right: 0;
  }

  .sale-filter {
      justify-content: center;
  }
}

/**** PRODUCT PAGE ****/
.product-details{
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details img{
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-bottom: 20px;
}

.product-details h1{
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

.product-details .price{
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-details p{
  font-size: 1.2em;
  line-height: 1.4;
  text-align: center;
  max-width: 600px;
}

.product-details .button{
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
  margin-top: 20px;
  transition: background-color 0.3s;
  cursor: pointer;
}

/*** Shopping cart ***/

#cart-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cart-container h1{
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.cart-items{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.cart-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 8px;
  background-color: #FFFFFF;
}

.cart-item img{
  width: 120px;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.cart-item div{
  flex-grow: 1;
  padding-left: 20px;
}

.cart-item h2{
  font-size: 1.3em;
  margin: 0;
}

.cart-item p{
  margin: 5px 0;
}

#cart-total {
  font-size: 1.5rem;
  text-align: right;
  margin-top: 20px;
}

.delete-button{
  background-color: var(--color-third);
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.delete-button:hover{
  background-color: var(--color-shadow);
}

.complete-order{
  display: block;
  padding: 15px;
  font-size: 1.2em;
  text-align: center;
  background-color: var(--color-shadow);
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.complete-order:hover{
  background-color: var(--color-third);
}

@media (max-width: 768px){
  .cart-item{
    flex-direction: column;
    align-items: center;
  }

  .cart-item img{
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
  }

  #cart-total{
    font-size: 1.2em;
  }

  .delete-button{
    align-self: flex-end;
    width: 100%;
  }

  .complete-order{
    margin-top: 10px;
    float: right;
  }
}



